body {
    background: #f4f7fb;
    font-family: "Segoe UI", sans-serif;
}

.sticky-header {
    position: sticky;
    top: 0;
    background: white;
    padding: 15px;
    text-align: center;
    z-index: 999;
}

.permit-container {
    margin-top: 80px;
}

.permit-section {
    background: white;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
  /*  opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease;*/
}
    .permit-section.show {
        opacity: 1;
        transform: translateY(0);
    }

/* Animations */
.fade-in {
    animation: fadeIn 1s ease-in-out;
}

.slide-in {
    animation: slideIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Print */
@media print {
    .no-print {
        display: none;
    }
}
